# Tour de pyhton

In [1]:
print("Hola ¿como estas?")

Hola ¿como estas?

In [19]:
my_sum = 0

for i in range(1,1000):
    if i % 5 == 0:
        my_sum = my_sum + i
    elif i % 3 == 0:
        my_sum = my_sum + i

print(my_sum)

233168

In [37]:
fib = 2
last_fib = 2
fib_sir = [1,2]

while last_fib < 4000000:
    num = fib_sir[len(fib_sir)-2] + fib_sir[len(fib_sir)-1]
    fib_sir.append(num)
    last_fib = num
    if last_fib % 2 == 0:
        fib = fib + last_fib
        
if(last_fib % 2 == 0):
    fib = fib - last_fib
        
print(fib_sir)
print(fib)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]
4613732

In [1]:
str.capitalize

In [2]:
x=3 
y=2

x+y
x-y
x*y
x**y
x/y
y%x

2

In [3]:
a, b, c = 1.0, 2.0, 3.0

print (a)
print (b)
print (c)

a + b/c
(a+b)/c
(a+b)/c


x= 0
x += 1
print (x)

x -= 2
print(x)

x *= 3.14
print (x)

x /= 5*a
print(x)
print(x)

1.0
2.0
3.0
1
-1
-3.14
-0.628
-0.628

In [4]:

for i in (1,2,3,4,5):
    print(i)

for i in (1,2,3,4,5):
    print(i)

for x in u"Hola Como estás?":
    print(x)


i = 1

while i > 0 and i <= 5:
    print(i)
    i += 1

for i in range(1,34,3):
    print(i)

1
2
3
4
5
1
2
3
4
5
H
o
l
a

C
o
m
o

e
s
t
á
s
?
1
2
3
4
5
1
4
7
10
13
16
19
22
25
28
31

In [5]:
from math import sqrt, atan
def polar(x,y):
    """
    x, y son un par ordenado
    """
    r = sqrt(x**2 + y**2)
    theta = atan(y/x)
    return r, theta

In [8]:
%%file transformciones.py
from math import cos, sin
from ipywidgets import interact, fixed, widgets

def coo(rho,theta,omega):
    x = rho*cos(theta)*sin(theta)
    x = rho*sin(theta)*sin(theta)
    z = rho*cos(theta)
    return x, y, z

print(coo(5,70,6))
interact(coo, rho=5, theta=70, omega=6);

Writing transformciones.py